
<div class="inner cover">
    <div class="showPt">
        {{round.point}} pt
    </div>
    <h2 class="cover-heading">
        {{round.wordObj.word}}
    </h2>
    <span class="lead" ng-repeat="preposition in prepositions track by $index">
        <a class="btn btn-lg btn-default preposition" ng-click="valide(preposition)" id="{{preposition}}">{{preposition}}</a>
    </span>
</div>

<div>
    <h1>{{utils.mySplit(lastRound.wordObj.word,0)}}
        <span style="color:#A94442">{{lastRound.wordObj.preposition}}</span> {{utils.mySplit(lastRound.wordObj.word,1)}}</h1>
    <h2>{{lastRound.translate}}</h2>
</div>