
<div class="inner cover">
    <div class="showPt">
        {{point}} pt
    </div>
    <h2 class="cover-heading">
        {{nameOfPreposition.word}}
    </h2>
    <span class="lead" ng-repeat="preposition in prepositions track by $index">
        <a class="btn btn-lg btn-default" ng-click="valide(preposition)" id="{{preposition}}"
           class="preposition">{{preposition}}</a>
    </span>
</div>

<div class=""><h1>
    {{utils.mySplit(lastWordAndPrep.word,0)}} <span style="color:#A94442">{{lastWordAndPrep.preposition}}</span>
    {{utils.mySplit(lastWordAndPrep.word,1)}}
</h1></div>